.ctn {
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #edf0f2;

    display: flex;
    flex-direction: row;
    gap: 12px;

    .aside {
        flex: 0 0 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: #fafbfc;
        border-radius: 12px;
        padding: 16px;

        .header {
            height: 30px;
            font-size: 12px;
            margin-bottom: 30px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: #0f0f0f;
            img {
                width: 24px;
                height: 24px;
            }
            div {
                font-weight: bold;
                margin-left: 8px;
                padding-top: 5px;
            }
        }

        .item {
            width: 100%;
            height: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            line-height: 32px;
            border-radius: 4px;
            margin-bottom: 4px;
            text-decoration: none;
            color: #1f2326;
            cursor: pointer;
            user-select: none;
            .icon {
                margin: -2px 8px 0px 14px;
                display: flex;
                align-items: center;
            }
            &:hover {
                background-color: #e4e7eb;
            }
        }

        :global {
            a.active {
                background-color: #e4e7eb;
            }
        }

        hr {
            border-color: #e4e7eb6b;
        }
    }

    .content {
        flex: 1 1 auto;
        height: 100%;
        background-color: #fafbfc;
        border-radius: 12px;
        padding: 24px 32px;
    }
}

:global(.contentWrapper) {
    .ctn {
        width: 100%;
        height: 100%;
        padding-top: 0px;
    }
}